#limit-login-by-header-input-fields {
    padding-top: 5px;
}

#limit-login-by-header-list td span {
    padding: 10px 15px;
    display: inline-block;
  }

#limit-login-by-header-list .action-column {
    width: 46px;
}
  
#limit-login-by-header-list .action-column a {
    display: inline-block;
}